<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>
            jdbc:mysql://localhost:3306/listexpenses?useSSL=false&amp;allowPublicKeyRetrieval=true
        </param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>dev</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>r0man88</param-value>
    </context-param>
    <context-param>
        <param-name>sqlShowQuery</param-name>
        <param-value>
            SELECT expenses.num, paydate, value, name
            FROM expenses, receivers
            WHERE receiver=receivers.num;
        </param-value>
    </context-param>
    <context-param>
        <param-name>sqlDeleteQuery</param-name>
        <param-value>
            DELETE FROM expenses
            WHERE expenses.num =
        </param-value>
    </context-param>
    <context-param>
        <param-name>sqlAddQuery</param-name>
        <param-value>
            INSERT INTO expenses (num, paydate, receiver, value) VALUES (?, ?, ?, ?);
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>JDBCServlet</servlet-name>
        <servlet-class>ex14.JDBCServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JDBCServletJSP</servlet-name>
        <servlet-class>ex15.JDBCServletJSP</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JDBCServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCServletJSP</servlet-name>
        <url-pattern>/jdbc-jsp</url-pattern>
    </servlet-mapping>

    <!-- Настройки к заданиям 16 & 17 -->

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <security-role>
        <role-name>user</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Auth</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JDBCServletJSP</web-resource-name>
            <url-pattern>/jdbc-jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AddExpenses</web-resource-name>
            <url-pattern>/AddExpenses</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DeleteExpenses</web-resource-name>
            <url-pattern>/DeleteExpenses</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>AddExpenses</servlet-name>
        <servlet-class>ex16_17.AddExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenses</servlet-name>
        <url-pattern>/AddExpenses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteExpenses</servlet-name>
        <servlet-class>ex16_17.DeleteExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteExpenses</servlet-name>
        <url-pattern>/DeleteExpenses</url-pattern>
    </servlet-mapping>
</web-app>